node_modules
vendor

.env.local
.env.backup
.env.example

storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/logs/*.log

.idea
.vscode
*.iml

*.log
*.lock
*.swp
*.tmp
*.bak
*.pid

.git
.gitignore
.gitattributes

Dockerfile
docker-compose.yml
docker-compose.override.yml
