/application/node_modules
/application/public/hot
/application/public/storage
/application/storage/*.key
/application/storage/
/application/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
